<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TorgPred3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TorgPred3.Properties.Settings>
            <setting name="Connector" serializeAs="String">
                <value>compactor</value>
            </setting>
            <setting name="datapath" serializeAs="String">
                <value>TorgPred3.1</value>
            </setting>
            <setting name="datafile" serializeAs="String">
                <value>Datafile.sdf</value>
            </setting>
            <setting name="MainSet" serializeAs="String">
                <value>pTorgpred3sp</value>
            </setting>
        </TorgPred3.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
